@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

/* 兼容原 UI 使用的 no-scrollbar */
.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

